(
    translation: (
        531.9222,
        172.25471,
        0.0,
    ),
    rotation: (
        0.0,
        0.0,
        -0.0,
        1.0,
    ),
    scale: (
        -1.0,
        1.0,
        1.0,
    ),
    params: {
        "is_moving": Bool(false),
        "defense": Trigger(false),
        "impulse_x": Float(0.0),
        "slide": Trigger(false),
        "is_crouching": Bool(false),
        "hit": Trigger(false),
        "is_alive": Bool(true),
        "attack": Trigger(false),
        "jump": Trigger(false),
        "items": Trigger(false),
        "is_grounded": Bool(true),
        "is_sliding": Bool(false),
        "can_move": Bool(true),
        "is_facing_right": Bool(false),
        "shift_press_time": Float(0.0),
        "velocity_y": Float(-0.00094135606),
        "revival": Trigger(false),
        "is_running": Bool(false),
    },
    damagable: (
        max_health: 100.0,
        health: 100.0,
        healing_amount: 40.0,
        max_posture: 100.0,
        posture: 0.0,
        is_alive: true,
        is_invincible: false,
        is_defending: false,
        defending_time: 0.3,
        invincibility_time: 0.4,
        time_since_hit: 0.0,
        time_since_defend: 0.0,
        time_since_death: 0.0,
    ),
)